# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
%matplotlib inline

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Output File (CSV)
data_file = "../WeatherPy/weather_data.csv"
weather_df = pd.read_csv(data_file)
weather_df.dropna(inplace = True) 
weather_df.count()

City          569
Lat           569
Lng           569
Max Temp      569
Humidity      569
Cloudiness    569
Wind Speed    569
Country       569
Date          569
dtype: int64

In [3]:
weather_df.head(5)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,cam ranh,11.92,109.16,91.4,66,20,4.70,VN,1592531734
1,norman wells,65.28,-126.83,77.0,38,75,4.70,CA,1592531628
2,vaini,-21.20,-175.20,73.4,88,90,13.87,TO,1592531735
3,upernavik,72.79,-56.15,35.4,85,0,10.58,GL,1592531735
4,busselton,-33.65,115.33,55.0,90,80,5.12,AU,1592531735

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# Store latitude and longitude in locations
locations = weather_df[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidity = weather_df["Humidity"].astype(float)

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

In [7]:
weather_df.describe()

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,5.690000e+02
mean,20.860316,18.255062,68.188295,70.035149,46.722320,8.192478,1.592532e+09
std,33.293582,90.616451,13.887512,20.591743,39.737743,5.694069,1.344792e+02
min,-54.800000,-179.170000,28.400000,5.000000,0.000000,0.130000,1.592531e+09
25%,-5.670000,-61.530000,58.510000,60.000000,1.000000,4.120000,1.592532e+09
50%,25.930000,25.270000,69.800000,74.000000,40.000000,6.930000,1.592532e+09
75%,49.770000,97.820000,78.910000,86.000000,90.000000,11.340000,1.592532e+09
max,78.220000,179.320000,97.900000,100.000000,100.000000,40.260000,1.592532e+09

In [8]:
ideal_weather_df = weather_df.loc[weather_df['Max Temp'] < 80, :]
ideal_weather_df = ideal_weather_df.loc[ideal_weather_df['Max Temp'] > 70, :]
ideal_weather_df = ideal_weather_df.loc[ideal_weather_df['Wind Speed'] < 10, :]
ideal_weather_df = ideal_weather_df.loc[ideal_weather_df['Cloudiness'] == 0, :]
ideal_weather_df.count()

City          15
Lat           15
Lng           15
Max Temp      15
Humidity      15
Cloudiness    15
Wind Speed    15
Country       15
Date          15
dtype: int64

In [9]:
ideal_weather_df.describe()

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
count,15.000000,15.00000,15.000000,15.000000,15.0,15.000000,1.500000e+01
mean,29.979333,44.02000,75.797333,48.933333,0.0,5.305333,1.592532e+09
std,26.801412,75.07844,2.464573,24.892531,0.0,2.761764,7.564843e+01
min,-15.200000,-76.90000,71.370000,20.000000,0.0,0.670000,1.592532e+09
25%,10.870000,-13.56000,75.075000,28.000000,0.0,3.645000,1.592532e+09
50%,34.880000,47.42000,75.510000,45.000000,0.0,4.720000,1.592532e+09
75%,47.305000,120.61500,77.505000,64.500000,0.0,7.045000,1.592532e+09
max,66.770000,134.53000,79.660000,94.000000,0.0,9.780000,1.592532e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
city_df = ideal_weather_df
city_df['Hotel Name'] = np.nan

target_search = "Hotel"
target_radius = 5000
target_type = "hotel"

idx = 0
for index, row in city_df.iterrows():
    # set up a parameters dictionary
    params = {
        "location": f"{row['Lat']}, {row['Lng']}",
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }

    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    response_json = response.json()
    results = response_json['results']
    if len(results) > 0:
        name = response_json['results'][0]['name']
        city_df.iloc[idx, -1] = name
    idx = idx + 1

hotel_df = city_df

In [11]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
79,zhigansk,66.77,123.37,74.95,32,0,9.78,RU,1592531756,NaN
129,baft,29.23,56.61,72.07,22,0,4.52,IR,1592531768,Bam_e Baft Hotel
164,abdanan,32.99,47.42,75.51,24,0,9.69,IR,1592531774,Kabirkooh Star Hotel
222,kirkuk,35.47,44.39,77.97,22,0,4.68,IQ,1592531787,Morgan Hotel
267,porto walter,-8.27,-72.74,75.51,72,0,0.67,BR,1592531687,Hotel das Irmãs.
319,umm lajj,25.02,37.27,79.66,53,0,4.99,SA,1592531695,Juman Hotel
332,itupiranga,-5.13,-49.33,75.20,94,0,2.77,BR,1592531809,Hotel Palace Itupiranga
368,namibe,-15.20,12.15,71.37,57,0,4.56,AO,1592531815,Hotel ibis Styles Iu Namibe
463,trairi,-3.28,-39.27,77.27,84,0,8.61,BR,1592531836,Paraíso do Kite Hostel & Bar
481,havelock,34.88,-76.90,75.99,85,0,5.91,US,1592531594,Hampton Inn Havelock
498,ust-maya,60.42,134.53,75.45,38,0,8.03,RU,1592531843,NaN
501,lishu,43.30,124.33,79.12,36,0,4.72,CN,1592531844,梨树韩州宾馆
529,nerchinskiy zavod,51.31,119.61,72.28,45,0,6.06,RU,1592531849,NaN
553,vilyuysk,63.76,121.62,77.74,50,0,1.97,RU,1592531853,"Gostinitsa ""Mariya"""
567,shache,38.42,77.24,76.87,20,0,2.62,CN,1592531856,New Century Hotel

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))